@import url('https://fonts.googleapis.com/css?family=Carter+One|Cookie|Damion|Gochi+Hand|Ma+Shan+Zheng|Marck+Script|Merienda|Oleo+Script|Parisienne|Passion+One|Permanent+Marker|Playball|Rock+Salt|Tangerine&display=swap');

* {
    margin: 0;
    padding: 0;
}

#wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#wrapper a {
    text-align: center;
    font-family: Oleo Script, cursive;
    color: antiquewhite;
    font-size: 20px;
    list-style: none;
}

#wrapper h3 {
    font-family: Oleo Script, cursive;
    color: antiquewhite;
}

.glow2 {
    text-shadow:
        0 0 5px yellow,
        0 0 10px black,
        0 0 20px white,
        0 0 40px white,
        0 0 80px yellow,
        0 0 90px black,
        0 0 100px yellow,
        0 0 150px yellow;
}

.mail {
    width: 500px;
    height: 300px;
    background: #ff8789;
    position: relative;
    transform-style: preserve-3d;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
}

.mail:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-left: 240px solid Transparent;
    border-right: 255px solid #ff393c;
    border-top: 200px solid Transparent;
    border-bottom: 100px solid #ff393c;
    z-index: 5;
    border-bottom-right-radius: 10px;
}

.mail:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-left: 250px solid #ff5355;
    border-right: 240px solid Transparent;
    border-top: 200px solid Transparent;
    border-bottom: 100px solid #ff5355;
    z-index: 4;
    border-bottom-left-radius: 10px;
}

.cover:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-left: 250px solid transparent;
    border-right: 250px solid transparent;
    border-top: 200px solid #ff8789;
    border-bottom: 100px solid transparent;
    z-index: 6;
    transform-origin: top;
    transform: rotateX(0deg);
    transition: all 1s 1s ease;
}

.letter {
    position: absolute;
    z-index: 3;
    top: 0px;
    left: 10px;
    background: #dedede;
    width: 400px;
    height: 210px;
    border-radius: 20px;
    transition: all 1s ease;
}

.letter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: red;
    font-weight: 900;
    font-family: Cookie, cursive;
    text-align: center;
}

.mail:hover .cover:before {
    transform: rotateX(180deg);
    transition: all 1s ease;
}

.mail:hover .letter {
    top: -80px;
    transition: all 1s 1s ease;
}

#wrapper2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#wrapper2 a {
    text-align: center;
    font-family: Rock Salt, cursive;
    color: antiquewhite;
    font-size: 18px;
    list-style: none;
}

#wrapper2 h3 {
    font-family: Rock Salt, cursive;
    color: green
}

.glow3 {
    text-shadow:
        0 0 5px white,
        0 0 10px yellowgreen,
        0 0 20px black,
        0 0 40px black,
        0 0 80px white,
        0 0 90px black,
        0 0 100px yellowgreen,
        0 0 150px white;
}

.mail2 {
    width: 500px;
    height: 300px;
    background: #6BFF44;
    position: relative;
    transform-style: preserve-3d;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
}

.mail2:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-left: 240px solid Transparent;
    border-right: 255px solid #26B200;
    border-top: 200px solid Transparent;
    border-bottom: 100px solid #26B200;
    z-index: 5;
    border-bottom-right-radius: 10px;
}

.mail2:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-left: 250px solid #4CE323;
    border-right: 240px solid Transparent;
    border-top: 200px solid Transparent;
    border-bottom: 100px solid #4CE323;
    z-index: 4;
    border-bottom-left-radius: 10px;
}

.cover2:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-left: 250px solid transparent;
    border-right: 250px solid transparent;
    border-top: 200px solid #6BFF44;
    border-bottom: 100px solid transparent;
    z-index: 6;
    transform-origin: top;
    transform: rotateX(0deg);
    transition: all 1s 1s ease;
}

.letter2 {
    position: absolute;
    z-index: 3;
    top: 0px;
    left: 10px;
    background: beige;
    width: 400px;
    height: 210px;
    border-radius: 20px;
    transition: all 1s ease;
}

.letter2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #0056C3;
    font-weight: 900;
    font-family: Rock Salt, cursive;
    text-align: center;
}

.mail2:hover .cover2:before {
    transform: rotateX(180deg);
    transition: all 1s ease;
}

.mail2:hover .letter2 {
    top: -80px;
    transition: all 1s 1s ease;
}

#wrapper3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#wrapper3 a {
    text-align: center;
    font-family: Tangerine, cursive;
    color: darkgoldenrod;
    font-size: 30px;
    list-style: none;
}

#wrapper3 h3 {
    font-family: Tangerine, cursive;
    color: antiquewhite;
    font-size: 40px;
}

.glow4 {
    text-shadow:
        0 0 5px black,
        0 0 10px black,
        0 0 20px black,
        0 0 40px black,
        0 0 80px white,
        0 0 90px black,
        0 0 100px white,
        0 0 150px white;
}

.mail3 {
    width: 500px;
    height: 300px;
    background: #474848;
    position: relative;
    transform-style: preserve-3d;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
}

.mail3:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-left: 240px solid Transparent;
    border-right: 255px solid #141414;
    border-top: 200px solid Transparent;
    border-bottom: 100px solid #141414;
    z-index: 5;
    border-bottom-right-radius: 10px;
}

.mail3:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-left: 250px solid #303030;
    border-right: 240px solid Transparent;
    border-top: 200px solid Transparent;
    border-bottom: 100px solid #303030;
    z-index: 4;
    border-bottom-left-radius: 10px;
}

.cover3:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-left: 250px solid transparent;
    border-right: 250px solid transparent;
    border-top: 200px solid #474848;
    border-bottom: 100px solid transparent;
    z-index: 6;
    transform-origin: top;
    transform: rotateX(0deg);
    transition: all 1s 1s ease;
}

.letter3 {
    position: absolute;
    z-index: 3;
    top: 0px;
    left: 10px;
    background: #303030;
    width: 400px;
    height: 210px;
    border-radius: 20px;
    transition: all 1s ease;
}

.letter3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: goldenrod;
    font-weight: 900;
    font-family: Tangerine, cursive;
    text-align: center;
}

.mail3:hover .cover3:before {
    transform: rotateX(180deg);
    transition: all 1s ease;
}

.mail3:hover .letter3 {
    top: -80px;
    transition: all 1s 1s ease;
}

#wrapper4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#wrapper4 a {
    text-align: center;
    font-family: Marck Script, cursive;
    color: black;
    font-size: 25px;
    list-style: none;
}

#wrapper4 h3 {
    font-family: Marck Script, cursive;
}

.glow5 {
    text-shadow:
        0 0 5px black,
        0 0 10px gold,
        0 0 20px gold,
        0 0 40px gold,
        0 0 80px gold,
        0 0 90px black,
        0 0 100px gold,
        0 0 150px gold;
}

.mail4 {
    width: 500px;
    height: 300px;
    background: gold;
    position: relative;
    transform-style: preserve-3d;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
}

.mail4:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-left: 240px solid Transparent;
    border-right: 255px solid darkgoldenrod;
    border-top: 200px solid Transparent;
    border-bottom: 100px solid darkgoldenrod;
    z-index: 5;
    border-bottom-right-radius: 10px;
}

.mail4:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-left: 250px solid goldenrod;
    border-right: 240px solid Transparent;
    border-top: 200px solid Transparent;
    border-bottom: 100px solid goldenrod;
    z-index: 4;
    border-bottom-left-radius: 10px;
}

.cover4:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-left: 250px solid transparent;
    border-right: 250px solid transparent;
    border-top: 200px solid gold;
    border-bottom: 100px solid transparent;
    z-index: 6;
    transform-origin: top;
    transform: rotateX(0deg);
    transition: all 1s 1s ease;
}

.letter4 {
    position: absolute;
    z-index: 3;
    top: 0px;
    left: 10px;
    background: #303030;
    width: 400px;
    height: 210px;
    border-radius: 20px;
    transition: all 1s ease;
}

.letter4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: goldenrod;
    font-weight: 900;
    font-family: Marck Script, cursive;
    text-align: center;
}

.mail4:hover .cover4:before {
    transform: rotateX(180deg);
    transition: all 1s ease;
}

.mail4:hover .letter4 {
    top: -80px;
    transition: all 1s 1s ease;
}
